.window {
    background-image: url('img/sotn.png');
    background-size: 390px 560px;
    background-position: 50% 100%
}

.split {
    background-repeat: no-repeat;
}

.split-title {
    padding-left: 24px;
}

.split-mist {
    background-image: url('img/mist.png');
    background-size: 15px 11px;
    background-position: 2px 50%;
}

.split-bat {
    background-image: url('img/bat.png');
    background-size: 16px 11px;
    background-position: 0 6px;
}

.split-reverse {
    background-image: url('img/glasses.png');
    background-position: 3px 50%;
}

.split-dracula {
    background-image: url('img/star.png');
    background-position: 2px 50%;
}
