.split {
    background-repeat: no-repeat;
}

.split-title {
    padding-left: 24px;
}

.split-title-mist {
    background-image: url('img/mist.png');
    background-size: 15px 11px;
    background-position: 2px 50%;
}

.split-title-bat {
    background-image: url('img/bat.png');
    background-size: 16px 11px;
    background-position: 0 6px;
}

.split-title-reverse {
    background-image: url('img/glasses.png');
    background-position: 3px 50%;
}

.split-title-dracula {
    background-image: url('img/star.png');
    background-position: 2px 50%;
}
